/************************
*		BASECOLORS		*
************************/

$white: rgb(255,255,255);
$black: rgb(0,0,0);


/************************
*		COLORSCALE		*
************************/

$lightyellow: rgb(237, 191, 64);
$yellow: rgb(247, 159, 52);
$darkyellow: rgb(232, 120, 37);
$lightblue: rgb(50, 179, 224);
$darkblue: rgb(13, 131, 182);
$lightgreen: rgb(0, 175, 150);
$darkgreen: rgb(0, 135, 112);
$red: rgb(209, 63, 63);


/************************
*		UI COLORS		*
************************/

// Light mode
$grey6: #262728;
$grey5: #363738;
$grey4: #3b3c3d;
$grey3: #414344;
$grey2: #494b4c;
$grey1: #5c5e60;
$grey0: hsl(0,0,60);

// Blueish Mode
$grey6: hsl(210,22,10);
$grey5: hsl(210,18,12);
$grey4: hsl(210,15,15);
$grey3: hsl(210,12,18);
$grey2: hsl(210,10,29);
$grey1: hsl(210,10,21);
$grey0: hsl(210,5,60);

// Dark mode
$grey6: hsl(210,5,10);
$grey5: hsl(210,5,12);
$grey4: hsl(210,5,15);
$grey3: hsl(210,5,18);
$grey2: hsl(210,5,29);
$grey1: hsl(210,5,21);
$grey0: hsl(210,5,60);


$transparentwhite: rgba(255,255,255, .05);
$lesstransparentwhite: rgba(255,255,255, .2);


/************************
*		STATES		*
************************/

.state-0	{
	background-color: $grey2;
}

.state-1, .state-11	{
	background-color: $lightyellow;
}

.state-2	{
	background-color: $yellow;
}

.state-3	{
	background-color: $darkyellow;
}

.state-4	{
	background-color: $lightblue;
}

.state-5, .state-10	{
	background-color: $darkblue;
}

.state-6, .state-9	{
	background-color: $lightgreen;
}

.state-7, .state-8	{
	background-color: $darkgreen;
}

.state-danger	{
	background-color: $red;
}

.text-state-1, .text-state-11	{
	color: $lightyellow !important;
}

.text-state-2	{
	color: $yellow !important;
}

.text-state-3	{
	color: $darkyellow !important;
}

.text-state-4	{
	color: $lightblue !important;
}

.text-state-5, .text-state-10	{
	color: $darkblue !important;
}

.text-state-6, .text-state-9	{
	color: $lightgreen !important;
}

.text-state-7, .text-state-8	{
	color: $darkgreen !important;
}