body	{
	display: flex;
	flex-direction: column;
}

header	{
	height: 5rem;
	flex-shrink: 0;
}

footer	{
	height: 3rem;
	flex-shrink: 0;
}

main	{
	flex-grow: 1;
	
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

nav	{
	flex-shrink: 0;
	width: 5rem;
	overflow: hidden;
}

.center	{
	flex-grow: 1;
	position: relative;
	transition: top 1s;
}

.center-view	{
	display: flex;
	flex-direction: column;
}

.toolbar	{
	flex-shrink: 0;
}

.content	{
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.content-main	{
	flex-grow: 1;
	
	position: relative;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
}

.content-side	{
	flex-grow: 1;
	flex-shrink: 0;

	overflow: hidden;
	
	width: 18rem;
	transition: width .7s;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
		
	&.active	{
		width: 5 * 18rem;
	}
}

.sidebar	{
	width: 18rem;
	position: relative;
	flex-shrink: 0;
	flex-grow: 1;
	
	overflow: scroll;
	float: left;
}

.sidebar-details	{
	float: left;
	width: 4 * 18rem;
	flex-shrink: 0;
	flex-grow: 1;
}