body	{
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color: $white;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: .03em;

	line-height: 1.4em;
	cursor: default;
	
	-webkit-font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
}

strong	{
	font-weight: 500;
}