.schedule	{
	.center-main .content	{
		position: relative;
		
		display: flex;
		flex-direction: column;
		
		overflow: hidden;
	}
	
	.center-side	{
		transition: width .6s;
		
		&.active	{
			width: 4 * $bigUnit;
		}
		
		.toolbar 			
			li	{
				width: $bigUnit;
				
				img	{
					transform: rotate(0);
					transition: transform .5s;
				}
				
				&.active	{
					background-color: $grey3;
					border-bottom: none;
					
					img	{
						transform: rotate(45deg);
					}
				}
			}
	}
	
	.scale	{
		list-style: none;
		position: absolute;
	}
	
	.scale-time	{
		width: $smallUnit;
		padding-top: $smallUnit;
		
		float: left;
		z-index: 1;
		
		text-align: center;
		
		background-color: $grey3;
		border-right: 1px solid $grey4;
		
		li	{
			height: 61px; /*6rem + 1px */;
			margin-bottom: 59px /*6rem - 1px */;
			padding-top: .5rem;	
			border-top: 1px solid $transparentwhite;
			border-bottom: 1px dotted $transparentwhite;
			
			&:first-child	{
				border-top: none;
			}
		}
	}
	
	.scale-rooms	{
		height: $smallUnit;
		width: 12 * $bigUnit;	
		margin-left: 5rem;

		background-color: $grey1;
		border-bottom: 1px solid $grey3;
		
		li {
			height: $smallUnit;
			width: $bigUnit;
			float: left;
			
			padding: 2.5rem 0 0 1rem;
			
			abbr	{
				opacity: .6;
				
				&:before	{
					content: "· ";
				}
			}
			
			&.active	{
				width: 4 * $bigUnit;
			}
		}
	}
	
	.scale-overlay	{
		height: $smallUnit;
		width: $smallUnit;
		background: linear-gradient($grey3 30%, transparent 130%);
		
		z-index: 2;
	}
	
	.timetable-container	{
		margin: 5rem 0 0 5rem;
		overflow: scroll;
		position: relative;
	}
	
	.timetable	{
		height: 24 * 12rem;
		width: 12 * $bigUnit;
		background-color: $grey1;
	}
	
	.column	{
		float: left;
		width: $bigUnit;
		height: 24 * 12rem;
		
		overflow: hidden;
		
		border-right: 1px solid $grey3;
		
		&.active	{
			width: 4 * $bigUnit;
		}
		
		.column-main	{
			position: relative;
			
			width: $bigUnit;
			height: 100%;

			float: left;
			
			hr	{
				margin: 0;
				
				position: absolute;
				width: 100%;

				border-top: 1px solid $transparentwhite;
				
				&:nth-of-type(odd)	{
					border-style: dotted;
				}
			}
		}
		
		.column-details	{
			width: 3 * $bigUnit;
			height: 100%;

			margin-left: $bigUnit;
			background-color: $grey6;

		}
		
		&:last-child	{
			border-right: none;
		}
	}
}

.card-container	{
	position: absolute;
	padding: 0 1rem;
	width: 100%;
}

.card	{
	width: 100%;
	position: relative;
	border-radius: 3px;
	background-color: $grey5;
	color: $grey0;
	cursor: pointer;
	overflow: hidden;

	.header	{
		border-radius: 3px 3px 0 0;
		padding: 1rem 1rem;
		cursor: move;
		color: $white;
		
		.name	{
			font-weight: 500;
		}
		
		img	{
			float: right;
			width: 2rem;
			width: 2rem;
		}
	}
	
	.main	{
		padding: .7rem 1rem;
		
		.diagnose	{
			margin-bottom: .5rem;
		}
	}
	
	.footer	{
		padding: 0 1rem 1rem 1rem;	
		position: absolute;
		bottom: 0;
		width: 100%;	
	}
	
	.handle	{
		position: absolute;
		height: 1rem;
		width: 100%;
	}
	
	.handle-top	{
		top: 0;
		cursor: n-resize;
	}
	
	.handle-bottom	{
		bottom: 0;
		cursor: s-resize;
	}
}