html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/************************
*		CLEARFIX		*
************************/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

html {
  font-size: 10px;
  background-color: grey;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/************************
*		BASECOLORS		*
************************/
/************************
*		COLORSCALE		*
************************/
/************************
*		UI COLORS		*
************************/
/************************
*		STATES		*
************************/
.state-1 {
  background-color: #edbf40; }

.state-2 {
  background-color: #f79f34; }

.state-3, .state-11 {
  background-color: #e87825; }

.state-4, .state-10 {
  background-color: #32b3e0; }

.state-5, .state-9 {
  background-color: #0d83b6; }

.state-6, .state-8 {
  background-color: #00af96; }

.state-7 {
  background-color: #008770; }

/************************
*		BODY		*
************************/
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100vh; }

nav {
  width: 5rem;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transition: width 0.5s;
          transition: width 0.5s;
  background-color: #363738; }
  nav.active {
    width: 25rem; }

main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/************************
*		NAV				*
************************/
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #262728; }
  nav ul.action-list li {
    width: 25rem;
    padding: 0;
    background-color: transparent; }
    nav ul.action-list li img {
      height: 5rem;
      width: 5rem;
      padding: 1.2rem;
      margin-top: 0;
      margin-right: 0.5rem; }
    nav ul.action-list li:hover {
      background-color: #414344; }
    nav ul.action-list li.active {
      background-color: #262728; }
  nav ul.action-list:nth-of-type(2) {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    opacity: 0.4;
    -webkit-transition: opacity 0.3s;
            transition: opacity 0.3s; }
    nav ul.action-list:nth-of-type(2) li {
      position: absolute;
      bottom: 0; }
    nav ul.action-list:nth-of-type(2) li:hover {
      background-color: transparent; }
    nav ul.action-list:nth-of-type(2):hover {
      opacity: 1;
      cursor: pointer; }

/************************
*		VIEW			*
************************/
.view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100vh; }
  .view .center-main {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 2;
        -ms-flex-negative: 2;
            flex-shrink: 2;
    overflow: hidden; }
  .view .center-side {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    overflow: hidden;
    width: 20rem;
    border-left: 1px solid #262728;
    background-color: #414344; }
  .view .center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .view .toolbar {
    width: 100%;
    height: 5rem;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    overflow: hidden;
    background-color: #3b3c3d;
    border-bottom: 1px solid #262728;
    -webkit-transition: height 0.5s;
            transition: height 0.5s; }
    .view .toolbar.active {
      height: 10rem; }
    .view .toolbar .toolbar-top {
      width: 100%;
      height: 5rem;
      border-bottom: 1px solid #262728; }
    .view .toolbar .toolbar-content {
      height: 5rem;
      background-color: #363738; }
  .view .content {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; }

/************************
*		ACTION-LIST		*
************************/
ul.action-list {
  float: left; }
  ul.action-list li {
    float: left;
    height: 5rem;
    padding: 0 2rem;
    overflow: hidden;
    list-style: none;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
    ul.action-list li img {
      display: block;
      float: left;
      width: 2rem;
      height: 2rem;
      margin-top: 1.5rem;
      margin-right: 1rem; }
    ul.action-list li:hover {
      cursor: pointer;
      background-color: #363738;
      border-left: 1px solid #262728;
      border-right: 1px solid #262728; }
    ul.action-list li.active {
      background-color: #363738;
      border-left: 1px solid #262728;
      border-right: 1px solid #262728; }
      ul.action-list li.active:first-child {
        border-left-color: transparent; }

/************************
*		SCROLLBARS		*
************************/
/*

::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	background-color: $grey2;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
	background-color: $grey5;
}
*/
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  cursor: default;
  -webkit-font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum'; }

strong {
  font-weight: 500; }

.card {
  z-index: 2; }

.schedule .center-main .content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }
.schedule .center-side {
  -webkit-transition: width 0.6s;
          transition: width 0.6s; }
  .schedule .center-side.active {
    width: 80rem; }
  .schedule .center-side .toolbar li {
    width: 20rem; }
    .schedule .center-side .toolbar li img {
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: -webkit-transform 0.5s;
              transition: transform 0.5s; }
    .schedule .center-side .toolbar li.active {
      background-color: #414344;
      border-bottom: none; }
      .schedule .center-side .toolbar li.active img {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
.schedule .scale {
  list-style: none;
  position: absolute; }
.schedule .scale-time {
  width: 5rem;
  padding-top: 5rem;
  float: left;
  z-index: 1;
  text-align: center;
  background-color: #414344;
  border-right: 1px solid #3b3c3d; }
  .schedule .scale-time li {
    height: 61px;
    /*6rem + 1px */
    margin-bottom: 59px;
    /*6rem - 1px */
    padding-top: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1); }
    .schedule .scale-time li:first-child {
      border-top: none; }
.schedule .scale-rooms {
  height: 5rem;
  width: 240rem;
  margin-left: 5rem;
  background-color: #5c5e60;
  border-bottom: 1px solid #414344; }
  .schedule .scale-rooms li {
    height: 5rem;
    width: 20rem;
    float: left;
    padding: 2.5rem 0 0 1rem; }
    .schedule .scale-rooms li abbr {
      opacity: 0.6; }
      .schedule .scale-rooms li abbr:before {
        content: "· "; }
    .schedule .scale-rooms li.active {
      width: 80rem; }
.schedule .scale-overlay {
  height: 5rem;
  width: 5rem;
  background: -webkit-linear-gradient(#414344 30%, transparent 130%);
  background: linear-gradient(#414344 30%, transparent 130%);
  z-index: 2; }
.schedule .timetable-container {
  margin: 5rem 0 0 5rem;
  overflow: scroll;
  position: relative; }
.schedule .timetable {
  height: 288rem;
  background-color: #5c5e60; }
.schedule .column {
  float: left;
  width: 20rem;
  height: 288rem;
  overflow: hidden;
  border-right: 1px solid #414344; }
  .schedule .column.active {
    width: 80rem; }
  .schedule .column .column-main {
    position: relative;
    width: 20rem;
    height: 100%;
    float: left; }
    .schedule .column .column-main hr {
      margin: 0;
      position: absolute;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
      .schedule .column .column-main hr:nth-of-type(odd) {
        border-style: dotted; }
  .schedule .column .column-details {
    width: 60rem;
    height: 100%;
    margin-left: 20rem;
    background-color: #262728; }
  .schedule .column:last-child {
    border-right: none; }
.schedule .scale-rooms li, .schedule .timetable, .schedule .column {
  -webkit-transition: width 0.5s;
          transition: width 0.5s; }

.card-container {
  position: absolute;
  padding: 0 1rem;
  width: 20rem; }

.card {
  width: 100%;
  position: relative;
  border-radius: 3px;
  background-color: #363738;
  color: #999999;
  cursor: pointer;
  overflow: hidden; }
  .card .header {
    border-radius: 3px 3px 0 0;
    padding: 1rem 1rem;
    cursor: move;
    color: white; }
    .card .header .name {
      font-weight: 500; }
    .card .header img {
      float: right;
      width: 2rem;
      width: 2rem; }
  .card .main {
    padding: 0.7rem 1rem; }
    .card .main .diagnose {
      margin-bottom: 0.5rem; }
  .card .footer {
    padding: 0 1rem 1rem 1rem;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .card .handle {
    position: absolute;
    height: 1rem;
    width: 100%; }
  .card .handle-top {
    top: 0;
    cursor: n-resize; }
  .card .handle-bottom {
    bottom: 0;
    cursor: s-resize; }

.center-side .card-container {
  padding-top: 1rem;
  position: relative; }
