/************************
*		MEASURMENTS		*
************************/

html	{
	font-size: 10px;
}

$border-radius: 3px;

@import 'reset';
@import 'color';
@import 'structure';
@import 'z-index';

body	{
	font-family: "DIN Pro", "DIN Next", DIN, Helvetica, Arial, sans-serif;
	color: $black;
	font-weight: 300;
	font-size: 13px;
	line-height: 1.5em;	
	cursor: default;
}

/************************
*		CONTAINER		*
************************/

header	{
	padding: 0 1.5rem;
	background-color: $grey1;
	line-height: 5rem;
	vertical-align: middle;
	
	text-transform: uppercase;
	letter-spacing: .03rem;
	
	h1	{
		float: left;
		color: $lightgreen;
	}
	
	time	{
		float: right;
		color: $white;
	}
}

nav	{
	background-color: $grey2;
	border-right: 1px solid $grey6;
	transition: width .5s;
	
	display: flex;
	flex-direction: column;
	
	.action-list {
		flex-grow: 0;

		li	{
			width: 25rem;
			padding: 0;
			border-bottom: 1px solid $grey6;
			
			img	{
				padding: 1.5rem;
			}
			
			&:hover	{
				background-color: $lightgreen;
				color: $white;
			}
			
			&.active	{
				background-color: $lightgreen;
				color: $white;
			}
		}
	}	
	
	.action-list.expand	{
		flex-grow: 1;
		position: relative;
		opacity: .3;
			
		&:hover	{
			cursor: pointer;
			opacity: 1;
		}
		
		li	{
			position: absolute;
			bottom: 0;
			
			&:hover	{
				background-color: transparent;
			}
		}
	}
	
	&.active	{
		width: 23rem;
	}
}

.center	{
	background-color: $darkblue;
}

.content	{
	background-color: $darkblue;
}

.content-main	{
	background-color: $darkgreen;
}

.sidebar	{
	background-color: $grey11;
}

.sidebar-details	{
	background-color: $grey12;
}


footer	{
	background-color: $grey1;
}

/************************
*		ELEMENTS		*
************************/

.toolbar	{
	height: 5rem;
	background-color: $grey3;
	transition: height .5s;
	
	&.active	{
		height: 10rem;
	}
	
	li.right	{
		width: 18rem;
	}
}

.toolbar-content	{
	height: 15rem;
	width: 100%;
	background-color: $grey13;
	
	.action-list li	{
	//	float: none;
	}
	
	input	{
		float: left;
		margin: 1rem 1rem;
		width: 80px;
		text-align: center;
	}
}


.action-list	{
	transition: all .5s;

	li	{
		height: 5rem;
		padding: 0 2rem;
		float: left;
		
		line-height: 5rem;
		vertical-align: middle;
		
		text-transform: uppercase;
		letter-spacing: .03rem;
		color: $white;
		transition: all .2s;	
						
		img	{
			padding: 1.5rem 1rem 1.5rem 0;
			height: 5rem;
			float: left;
			
			&.right	{
				padding: 1.5rem 0rem 1.5rem 1rem;
				float: right;
			}
		}
		
		&:hover	{
			cursor: pointer;
			background-color: $grey13;
			color: $lightgreen;
		}
		
		&.active	{
			background-color: $grey13;
			color: $lightgreen;			
		}
		
		&.right	{
			float: right;
		}
	}
}

input	{
	width: 100%;
	border-radius: $border-radius;
	outline: none;
	border: 1px solid $grey16;
	height: 3rem;
	line-height: 3rem;
	vertical-align: middle;
	padding: 0 .5rem;
	margin-bottom: 1rem;
	color: $white;
	background-color: $grey15;
	transition: background-color .2s;
	cursor: auto;

	
	&:focus	{
		outline: none;
		background-color: $lightgreen;
		color: $white;
	}

}

/************************
*		STATES		*
************************/

.state-1	{
	background-color: $lightyellow;
	color: $black !important;
}

.state-4	{
	background-color: $lightblue;
}

.state-5	{
	background-color: $darkblue;
}


/************************
*	CENTER_VIEWS		*
************************/

@import 'center-view-schedule';

